Cloudster2/USDA-Import.git/pipeline/Futures Pipeline.json
{
	"name": "Futures Pipeline",
	"properties": {
		"activities": [
			{
				"name": "datecheck",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[FuturesYesNo]",
						"storedProcedureParameters": {
							"YesNo": {
								"type": "String",
								"value": "no"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "checkdate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "datecheckvar",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "datecheck",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DateCheckVar",
					"value": "@activity('datecheck').output.firstRow.answer"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "datecheckvar",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@{equals(variables('DateCheckVar'),'yes')}",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "FuturesBlob_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Futures LogicApp WebHook_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "truncate table futuresimp\n",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Contract",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Contract",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Description",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Description",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Source",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Source",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Month",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Month",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Year",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Year",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Price",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Price",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "Price_Lb",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "PriceLb",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 18
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "FuturesBlob",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "FuturesImp",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Futures LogicApp WebHook_copy1",
							"type": "WebHook",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-15.westus.logic.azure.com:443/workflows/dbe0895afdca41918cc5a002c1a2c138/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=vJPcVEvH6olmcdFW8O9tCBccc2i0JpNAom4qYNzEpBw",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"DataFactoryName": "@{pipeline().DataFactory}",
									"PipelineName": "@{pipeline().Pipeline}"
								},
								"timeout": "00:10:00"
							}
						}
					]
				}
			}
		],
		"variables": {
			"TimeSTamp": {
				"type": "String"
			},
			"DateCheckVar": {
				"type": "String"
			}
		},
		"annotations": []
	}
}