Cloudster2/USDA-Import.git/pipeline/Global Pipeline.json
{
	"name": "Global Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Global Switch",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Set global var",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@string(variables('GlobalValue'))\n",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "1",
							"activities": [
								{
									"name": "Execute Pipeline Euro",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Global Euro Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "2",
							"activities": [
								{
									"name": "Execute Pipeline NZ",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Global NZ Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "3",
							"activities": [
								{
									"name": "Execute Pipeline China",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "China Global Import",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "4",
							"activities": [
								{
									"name": "Execute Pipeline Aust",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Global Aus Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "5",
							"activities": [
								{
									"name": "Execute Pipeline UK",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Global  UK Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "6",
							"activities": [
								{
									"name": "Execute Pipeline MX",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Mexico Milk Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "7",
							"activities": [
								{
									"name": "Execute Pipeline Arg",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Argentina Global Data",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "8",
							"activities": [
								{
									"name": "Execute Pipeline Euro Heard",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Global Euro Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup Var",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select value from globalvartable",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GlobalVarLookup",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set global var",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup Var",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "GlobalValue",
					"value": {
						"value": "@activity('Lookup Var').output.firstRow.value",
						"type": "Expression"
					}
				}
			}
		],
		"concurrency": 1,
		"variables": {
			"GlobalValue": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}