ImportUSDA/PartialArmTemplates/ArmTemplate_10_24_2021_16_46_43.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ImportUSDA"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/GTT Trade')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "World all codes no mex no by",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "MXBY World 2017 - present",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:04:00",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['tradeFlow']"
										},
										"sink": {
											"name": "FlowType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['year']"
										},
										"sink": {
											"name": "Year",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['month']"
										},
										"sink": {
											"name": "Month",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['reporterCode']"
										},
										"sink": {
											"name": "DeclarantCde",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['reporterName']"
										},
										"sink": {
											"name": "Declarant",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['partnerCode']"
										},
										"sink": {
											"name": "PartnerCde",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['partnerName']"
										},
										"sink": {
											"name": "Partner",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['hsCode']"
										},
										"sink": {
											"name": "Code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['commodityDescriptionTranslation']"
										},
										"sink": {
											"name": "Item",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['currency']"
										},
										"sink": {
											"name": "Currency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['value']"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['unit1']"
										},
										"sink": {
											"name": "Unit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['quantity1']"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal"
										}
									}
								],
								"collectionReference": "$['reportData']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "GTTAPI",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "GTTTest",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "MX-BY Not Aggr",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "World all codes no mex no by",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['tradeFlow']"
										},
										"sink": {
											"name": "FlowType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['year']"
										},
										"sink": {
											"name": "Year",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['month']"
										},
										"sink": {
											"name": "Month",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['reporterCode']"
										},
										"sink": {
											"name": "DeclarantCde",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['reporterName']"
										},
										"sink": {
											"name": "Declarant",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['partnerCode']"
										},
										"sink": {
											"name": "PartnerCde",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['partnerName']"
										},
										"sink": {
											"name": "Partner",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['hsCode']"
										},
										"sink": {
											"name": "Code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['commodityDescriptionTranslation']"
										},
										"sink": {
											"name": "Item",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['currency']"
										},
										"sink": {
											"name": "Currency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['value']"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['unit1']"
										},
										"sink": {
											"name": "Unit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['quantity1']"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal"
										}
									}
								],
								"collectionReference": "$['reportData']"
							}
						},
						"inputs": [
							{
								"referenceName": "MX_BY_Not_Aggr",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "GTTTest",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "MXBY World 2017 - present",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['tradeFlow']"
										},
										"sink": {
											"name": "FlowType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['year']"
										},
										"sink": {
											"name": "Year",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['month']"
										},
										"sink": {
											"name": "Month",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['reporterCode']"
										},
										"sink": {
											"name": "DeclarantCde",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['reporterName']"
										},
										"sink": {
											"name": "Declarant",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['partnerCode']"
										},
										"sink": {
											"name": "PartnerCde",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['partnerName']"
										},
										"sink": {
											"name": "Partner",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['hsCode']"
										},
										"sink": {
											"name": "Code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['commodityDescriptionTranslation']"
										},
										"sink": {
											"name": "Item",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['currency']"
										},
										"sink": {
											"name": "Currency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['value']"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['unit1']"
										},
										"sink": {
											"name": "Unit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['quantity1']"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal"
										}
									}
								],
								"collectionReference": "$['reportData']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "GTTWorld2010_2016",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "GTTTest",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Global Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EU DAIRY AND SSLAUGHTER",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table global.EUDairySlaughterImp",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CountryCde",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DateString",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PC_FAT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PC_PRO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "THS_T (D1110D)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Drinking Milk (D2100)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C4",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Milk and Cream Powders, excluding skim milk powders (D3100_X_3113)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C5",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Skimmed milk powder (D3113)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C6",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Concentrated Milk (D3200)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C7",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Acidified Milk (D4100)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C8",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Butter (D6000)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C9",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Cheese (D7121)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C10",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Dairy Cows (A2300F)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C11",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Heifers, 2 years old or over, not for slaughter (A2230C)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C12",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Heifers, 1 years old, not for slaughter (A2220C)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C13",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Cow Slaughter (B1230)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C14",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Heifer Slaughter (B1240)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C15",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "EUSlaughterDairy",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "EUDairyImp",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/EUSlaughterDairy')]",
				"[concat(variables('factoryId'), '/datasets/EUDairyImp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EUDairyImp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Sara Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ImpEUID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CountryCde",
						"type": "varchar"
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "C1",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "C2",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "C3",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "C4",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "C5",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "C6",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "C7",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "C8",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "C9",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "C10",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "C11",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "C12",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "C13",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "C14",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "C15",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "GLOBL",
					"table": "EUDairySlaughterImp"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EUSlaughterDairy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Claudia",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "EU27 Dairy and Slaughter.xlsx",
						"container": "trade-data-container"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GTTWorldMXBY20102016')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "world all codes  MX and BY",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "https://www.globaltradetracker.com:443/api/rest/getreport?token=5877C1FE493115E7D9A98F7993A701E6&impexp=IE&reporter=CountriesNoMXBY,MX,BY&hscode=MyCodesMXBY&partner=zz&periodtype=M&accumulatepartnergroups=true&currency=USD&decimalscale=2&layout=brief&from=2017-01&source=DEFAULT",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EUGlobalDataTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "triggered by blob change",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Global Pipeline",
							"type": "PipelineReference"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/trade-data-container/blobs/",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/0fc35f87-20bc-4c8a-ad2a-fc01eddd2349/resourceGroups/CeresBlob/providers/Microsoft.Storage/storageAccounts/cerestradedata",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Global Pipeline')]"
			]
		}
	]
}