ImportUSDA/PartialArmTemplates/ArmTemplate_10_13_2021_11_12_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ImportUSDA"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Cows')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Import Num Cows",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Milk Per Cow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "delete from usda.usdadatafactory where unit <> 'LB / HEAD'"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['prodn_practice_desc']"
										},
										"sink": {
											"name": "ProdPract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['domaincat_desc']"
										},
										"sink": {
											"name": "DomainCat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['reference_period_desc']"
										},
										"sink": {
											"name": "Period",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['class_desc']"
										},
										"sink": {
											"name": "Class",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['commodity_desc']"
										},
										"sink": {
											"name": "Commodity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state_name']"
										},
										"sink": {
											"name": "State",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['domain_desc']"
										},
										"sink": {
											"name": "Domain",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['short_desc']"
										},
										"sink": {
											"name": "ItemConcat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['unit_desc']"
										},
										"sink": {
											"name": "Unit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['year']"
										},
										"sink": {
											"name": "Year",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['region_desc']"
										},
										"sink": {
											"name": "Region",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['freq_desc']"
										},
										"sink": {
											"name": "Frequency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Value']"
										},
										"sink": {
											"name": "Value",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['util_practice_desc']"
										},
										"sink": {
											"name": "UtilPract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state_ansi']"
										},
										"sink": {
											"name": "StateAnsi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['statisticcat_desc']"
										},
										"sink": {
											"name": "Category",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['group_desc']"
										},
										"sink": {
											"name": "GRP",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['data']"
							}
						},
						"inputs": [
							{
								"referenceName": "NumCowsAPI",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DataFactoryTable",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Milk Per Cow",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table usda.usdadatafactory"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['commodity_desc']"
										},
										"sink": {
											"name": "Commodity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['class_desc']"
										},
										"sink": {
											"name": "Class",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['domaincat_desc']"
										},
										"sink": {
											"name": "DomainCat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['reference_period_desc']"
										},
										"sink": {
											"name": "Period",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['prodn_practice_desc']"
										},
										"sink": {
											"name": "ProdPract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['group_desc']"
										},
										"sink": {
											"name": "GRP",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['statisticcat_desc']"
										},
										"sink": {
											"name": "Category",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['freq_desc']"
										},
										"sink": {
											"name": "Frequency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Value']"
										},
										"sink": {
											"name": "Value",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state_ansi']"
										},
										"sink": {
											"name": "StateAnsi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['util_practice_desc']"
										},
										"sink": {
											"name": "UtilPract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['year']"
										},
										"sink": {
											"name": "Year",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['region_desc']"
										},
										"sink": {
											"name": "Region",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['domain_desc']"
										},
										"sink": {
											"name": "Domain",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state_name']"
										},
										"sink": {
											"name": "State",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['unit_desc']"
										},
										"sink": {
											"name": "Unit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['short_desc']"
										},
										"sink": {
											"name": "ItemConcat",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['data']"
							}
						},
						"inputs": [
							{
								"referenceName": "MilkPerCowAPI",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DataFactoryTable",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy to USDAData_copy1",
						"description": "transfer from DataFactory to USDAData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Import Num Cows",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "\nupdate usda.usdadatafactory set weekending = cast(weekendingstring as date)\n\twhere weekending <> ''\n\tupdate usda.usdadatafactory set value = replace(value,',','')\n\tupdate USDA.USDADataFactory set value = NULL where isnumeric(value) = 0\n\tupdate usda.usdadatafactory set valuedec = cast(value as decimal(18,0))\n\tupdate usda.usdadatafactory set stateansiint = cast(stateansi as int)\n\n\n\ttruncate table USDA.USDAData\n"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GRP",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "GRP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Commodity",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Commodity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UtilPract",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "UtilPract",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Class",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Class",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProdPract",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ProdPract",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Unit",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Domain",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Domain",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DomainCat",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DomainCat",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ItemConcat",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ItemConcat",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StateAnsiInt",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "StateAnsi",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Frequency",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Frequency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Period",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Period",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ValueDec",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "USDADataFactory",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "USDAData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ID Updates_copy1",
						"description": "Set the proper ids in USDADATA table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy to USDAData_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[USDA].[UpdateIds]"
						},
						"linkedServiceName": {
							"referenceName": "SaraDB connection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "WorkMilkProd Transfer",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ID Updates_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table USDA.WorkMilkProd"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GRPID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GRPID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CommodityID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CommodityID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "UtilPract",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UtilPract",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Class",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Class",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProdPract",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProdPract",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CatID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CatID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "UnitID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "UnitID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Domain",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Domain",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DomainCat",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DomainCat",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ItemConcat",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ItemConcat",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StateAnsi",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "StateAnsi",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "GeoID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GeoID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WeekEnding",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "WeekEnding",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "FreqID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PeriodTypeID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Period",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Period",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PeriodID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PeriodID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "NormValue",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "NormValue",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "USDAData",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WorkMilkProd",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Milk Transformations",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "WorkMilkProd Transfer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[USDA].[MilkProdTransform]"
						},
						"linkedServiceName": {
							"referenceName": "SaraDB connection",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Slaughter Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Dairy Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Slaughter Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Dairy Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BackUps",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "USDA DAIRY PIPELINE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Prod per cow",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Slaughter Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Cows",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "BackUps",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[USDA].[BIBackUps]"
						},
						"linkedServiceName": {
							"referenceName": "SaraDB connection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Count",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Prod per cow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[USDA].[TriggerRuns]",
							"storedProcedureParameters": {
								"Trigger": {
									"value": "DailyPipeline",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SaraDB connection",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Cows')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GTT Trade')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "World all codes no mex no by",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "MXBY World 2010-2016",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:04:00",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['tradeFlow']"
										},
										"sink": {
											"name": "FlowType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['year']"
										},
										"sink": {
											"name": "Year",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['month']"
										},
										"sink": {
											"name": "Month",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['reporterCode']"
										},
										"sink": {
											"name": "DeclarantCde",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['reporterName']"
										},
										"sink": {
											"name": "Declarant",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['partnerCode']"
										},
										"sink": {
											"name": "PartnerCde",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['partnerName']"
										},
										"sink": {
											"name": "Partner",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['hsCode']"
										},
										"sink": {
											"name": "Code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['commodityDescriptionTranslation']"
										},
										"sink": {
											"name": "Item",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['currency']"
										},
										"sink": {
											"name": "Currency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['value']"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['unit1']"
										},
										"sink": {
											"name": "Unit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['quantity1']"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal"
										}
									}
								],
								"collectionReference": "$['reportData']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "GTTAPI",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "GTTTest",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "MX-BY Not Aggr",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "World all codes no mex no by",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['tradeFlow']"
										},
										"sink": {
											"name": "FlowType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['year']"
										},
										"sink": {
											"name": "Year",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['month']"
										},
										"sink": {
											"name": "Month",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['reporterCode']"
										},
										"sink": {
											"name": "DeclarantCde",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['reporterName']"
										},
										"sink": {
											"name": "Declarant",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['partnerCode']"
										},
										"sink": {
											"name": "PartnerCde",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['partnerName']"
										},
										"sink": {
											"name": "Partner",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['hsCode']"
										},
										"sink": {
											"name": "Code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['commodityDescriptionTranslation']"
										},
										"sink": {
											"name": "Item",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['currency']"
										},
										"sink": {
											"name": "Currency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['value']"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['unit1']"
										},
										"sink": {
											"name": "Unit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['quantity1']"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal"
										}
									}
								],
								"collectionReference": "$['reportData']"
							}
						},
						"inputs": [
							{
								"referenceName": "MX_BY_Not_Aggr",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "GTTTest",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "MXBY World 2010-2016",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['tradeFlow']"
										},
										"sink": {
											"name": "FlowType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['year']"
										},
										"sink": {
											"name": "Year",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['month']"
										},
										"sink": {
											"name": "Month",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['reporterCode']"
										},
										"sink": {
											"name": "DeclarantCde",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['reporterName']"
										},
										"sink": {
											"name": "Declarant",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['partnerCode']"
										},
										"sink": {
											"name": "PartnerCde",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['partnerName']"
										},
										"sink": {
											"name": "Partner",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['hsCode']"
										},
										"sink": {
											"name": "Code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['commodityDescriptionTranslation']"
										},
										"sink": {
											"name": "Item",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['currency']"
										},
										"sink": {
											"name": "Currency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['value']"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['unit1']"
										},
										"sink": {
											"name": "Unit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['quantity1']"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal"
										}
									}
								],
								"collectionReference": "$['reportData']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "GTTWorld2010_2016",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "GTTTest",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MX_BY_Not_Aggr')]",
				"[concat(variables('factoryId'), '/datasets/GTTWorld2010_2016')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/USDA 10 Year')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Slaughter National Import",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "Truncate table USDA.USDADataFactory"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['region_desc']"
										},
										"sink": {
											"name": "Region",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['class_desc']"
										},
										"sink": {
											"name": "Class",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state_ansi']"
										},
										"sink": {
											"name": "StateAnsi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Value']"
										},
										"sink": {
											"name": "Value",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['year']"
										},
										"sink": {
											"name": "Year",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['commodity_desc']"
										},
										"sink": {
											"name": "Commodity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['short_desc']"
										},
										"sink": {
											"name": "ItemConcat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state_name']"
										},
										"sink": {
											"name": "State",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['reference_period_desc']"
										},
										"sink": {
											"name": "Period",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['freq_desc']"
										},
										"sink": {
											"name": "Frequency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['util_practice_desc']"
										},
										"sink": {
											"name": "UtilPract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['unit_desc']"
										},
										"sink": {
											"name": "Unit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['prodn_practice_desc']"
										},
										"sink": {
											"name": "ProdPract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['week_ending']"
										},
										"sink": {
											"name": "WeekEndingString",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['statisticcat_desc']"
										},
										"sink": {
											"name": "Category",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['domaincat_desc']"
										},
										"sink": {
											"name": "DomainCat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['group_desc']"
										},
										"sink": {
											"name": "GRP",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['domain_desc']"
										},
										"sink": {
											"name": "Domain",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['data']"
							}
						},
						"inputs": [
							{
								"referenceName": "SlaughterNationalAPI",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DataFactoryTable",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Slaughter Regional Import",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Slaughter National Import",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "delete from USDA.USDAdataFactory where category <>'SLAUGHTERED'"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['region_desc']"
										},
										"sink": {
											"name": "Region",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['reference_period_desc']"
										},
										"sink": {
											"name": "Period",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['statisticcat_desc']"
										},
										"sink": {
											"name": "Category",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['domaincat_desc']"
										},
										"sink": {
											"name": "DomainCat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Value']"
										},
										"sink": {
											"name": "Value",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['freq_desc']"
										},
										"sink": {
											"name": "Frequency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['util_practice_desc']"
										},
										"sink": {
											"name": "UtilPract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state_ansi']"
										},
										"sink": {
											"name": "StateAnsi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['prodn_practice_desc']"
										},
										"sink": {
											"name": "ProdPract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['short_desc']"
										},
										"sink": {
											"name": "ItemConcat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['unit_desc']"
										},
										"sink": {
											"name": "Unit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['class_desc']"
										},
										"sink": {
											"name": "Class",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['commodity_desc']"
										},
										"sink": {
											"name": "Commodity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['year']"
										},
										"sink": {
											"name": "Year",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['domain_desc']"
										},
										"sink": {
											"name": "Domain",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state_name']"
										},
										"sink": {
											"name": "State",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['group_desc']"
										},
										"sink": {
											"name": "GRP",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['week_ending']"
										},
										"sink": {
											"name": "WeekEndingString",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['data']"
							}
						},
						"inputs": [
							{
								"referenceName": "SlaughterRegionalAPI",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DataFactoryTable",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy to USDAData",
						"description": "transfer from DataFactory to USDAData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Slaughter Regional Import",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "update usda.usdadatafactory set weekending = cast(weekendingstring as date)\n\twhere weekendingstring <> ''and weekendingstring is not null\n\tupdate usda.usdadatafactory set value = replace(value,',','')\n\tupdate USDA.USDADataFactory set value = NULL where isnumeric(value) = 0\n\tupdate usda.usdadatafactory set valuedec = cast(value as decimal(18,0))\n\tupdate usda.usdadatafactory set stateansiint = cast(stateansi as int)\n\n\n\ttruncate table USDA.USDAData\n"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GRP",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "GRP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Commodity",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Commodity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UtilPract",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "UtilPract",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Class",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Class",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProdPract",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ProdPract",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Unit",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Domain",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Domain",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DomainCat",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DomainCat",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ItemConcat",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ItemConcat",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StateAnsiInt",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "StateAnsi",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WeekEnding",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "WeekEnding",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Frequency",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Frequency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Period",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Period",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PeriodID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PeriodID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "NormValue",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "NormValue",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "USDADataFactory",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "USDAData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ID Updates",
						"description": "Set the proper ids in USDADATA table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy to USDAData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[USDA].[UpdateIds]"
						},
						"linkedServiceName": {
							"referenceName": "SaraDB connection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Work Slaughter Transfer",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ID Updates",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table USDA.WorkSlaughter"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GRPID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GRPID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CommodityID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CommodityID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "UtilPract",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UtilPract",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Class",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Class",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProdPract",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProdPract",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CatID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CatID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "UnitID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "UnitID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Domain",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Domain",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DomainCat",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DomainCat",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ItemConcat",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ItemConcat",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StateAnsi",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "StateAnsi",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "GeoID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GeoID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WeekEnding",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "WeekEnding",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "FreqID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PeriodTypeID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PeriodID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PeriodID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Period",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Period",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "NormValue",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "NormValue",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "USDAData",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SlaughterWorkTable",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GTTWorld2010_2016')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GTTWorldMXBY20102016",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/GTTWorldMXBY20102016')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MX_BY_Not_Aggr')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MX BY Not Aggr",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MX BY Not Aggr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WorldMXBY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WorldMXBY",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WorldMXBY')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CowInventoryRest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "https://quickstats.nass.usda.gov/api/api_GET/?key=D5ED7EBA-1BA4-3BA8-BE76-A097ABD12F78 &commodity_desc=CATTLE&statisticcat_desc=INVENTORY, AVG&class_desc=COWS, MILK&year__GE=2010&agg_level_desc=NATIONAL&agg_level_desc=STATE&freq_desc=MONTHLY",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GTT API')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "world totals all codes no MX no BY",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "https://www.globaltradetracker.com:443/api/rest/getreport?source=DEFAULT&impexp=IE&from=2017-01&periodtype=M$&decimalscale=2&currency=USD&layout=brief&accumulatepartnergroups=true&partner=zz&hslevel=0&unit=MT&token=CEBFBA62A15113125D00C50C4193F7A4&reporter=countriesNoMXBY,EU27exUK&hscode=MyCodesMXBY,35040010,35040011,35040012",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GTTWorldMXBY20102016')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "https://www.globaltradetracker.com:443/api/rest/getreport?token=8048F28701011B2A06A67A130A43544B&impexp=IE&from=2010&to=2016&source=DEFAULT&periodtype=M&accumulatepartnergroups=true&currency=USD&decimalscale=2&layout=brief&reporter=MX,BY&unit=MT&hscode=mycodesmxby",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MX BY Not Aggr')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "https://www.globaltradetracker.com:443/api/rest/getreport?source=DEFAULT&from=2017-01&currency=USD&unit=MT&decimalscale=2&impexp=IE&reporter=MX,BY&hscode=MyCodesMXBY&partner=zz&periodtype=M&layout=brief&accumulatepartnergroups=false&token=CEBFBA62A15113125D00C50C4193F7A4",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MilkPerCowAPI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "https://quickstats.nass.usda.gov/api/api_GET/?key=D5ED7EBA-1BA4-3BA8-BE76-A097ABD12F78 &commodity_desc=MILK&statisticcat_desc=PRODUCTION&Unit_desc=LB / HEAD&year__GE=2010&agg_level_desc=NATIONAL&agg_level_desc=STATE&freq_desc=MONTHLY",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SlaughterNationalImport')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "https://quickstats.nass.usda.gov/api/api_GET/?key=D5ED7EBA-1BA4-3BA8-BE76-A097ABD12F78 &commodity_desc=CATTLE&class_desc=COWS, MILK&util_practice= SLAUGHTER, COMMERCIAL, FI &statisticalcat_desc=SLAUGHTERED&year__GE=2010&freq_desc=WEEKLY&freq_desc=MONTHLY &agg_level_desc=NATIONAL",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SlaughterRegionalAPI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "10 year pull",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "https://quickstats.nass.usda.gov/api/api_GET/?key=D5ED7EBA-1BA4-3BA8-BE76-A097ABD12F78 &commodity_desc=CATTLE&class_desc=COWS, MILK&statisticalcat_desc=SLAUGHTERED&year__GE=2010&freq_desc=WEEKLY&agg_level_desc=REGION : MULTI-STATE",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WorldMXBY')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "https://www.globaltradetracker.com:443/api/rest/getreport?source=DEFAULT&token=CEBFBA62A15113125D00C50C4193F7A4&from=2017-01&currency=USD&unit=MT&decimalscale=2&impexp=IE&reporter=MX,BY&hscode=MyCodesMXBY&partner=zz&periodtype=M&accumulatepartnergroups=true&layout=brief",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Daily Pipeline",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-06-23T13:30:00",
						"timeZone": "Mountain Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Daily Pipeline')]"
			]
		}
	]
}