ImportUSDA/PartialArmTemplates/ArmTemplate_6_22_2021_11_46_13.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ImportUSDA"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Cows')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Import Num Cows",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Milk Per Cow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "delete from usda.usdadatafactory where unit <> 'LB / HEAD'"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['prodn_practice_desc']"
										},
										"sink": {
											"name": "ProdPract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['domaincat_desc']"
										},
										"sink": {
											"name": "DomainCat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['reference_period_desc']"
										},
										"sink": {
											"name": "Period",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['class_desc']"
										},
										"sink": {
											"name": "Class",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['commodity_desc']"
										},
										"sink": {
											"name": "Commodity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state_name']"
										},
										"sink": {
											"name": "State",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['domain_desc']"
										},
										"sink": {
											"name": "Domain",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['short_desc']"
										},
										"sink": {
											"name": "ItemConcat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['unit_desc']"
										},
										"sink": {
											"name": "Unit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['year']"
										},
										"sink": {
											"name": "Year",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['region_desc']"
										},
										"sink": {
											"name": "Region",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['freq_desc']"
										},
										"sink": {
											"name": "Frequency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Value']"
										},
										"sink": {
											"name": "Value",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['util_practice_desc']"
										},
										"sink": {
											"name": "UtilPract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state_ansi']"
										},
										"sink": {
											"name": "StateAnsi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['statisticcat_desc']"
										},
										"sink": {
											"name": "Category",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['group_desc']"
										},
										"sink": {
											"name": "GRP",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['data']"
							}
						},
						"inputs": [
							{
								"referenceName": "NumCowsAPI",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DataFactoryTable",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Milk Per Cow",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table usda.usdadatafactory"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['commodity_desc']"
										},
										"sink": {
											"name": "Commodity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['class_desc']"
										},
										"sink": {
											"name": "Class",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['domaincat_desc']"
										},
										"sink": {
											"name": "DomainCat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['reference_period_desc']"
										},
										"sink": {
											"name": "Period",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['prodn_practice_desc']"
										},
										"sink": {
											"name": "ProdPract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['group_desc']"
										},
										"sink": {
											"name": "GRP",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['statisticcat_desc']"
										},
										"sink": {
											"name": "Category",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['freq_desc']"
										},
										"sink": {
											"name": "Frequency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Value']"
										},
										"sink": {
											"name": "Value",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state_ansi']"
										},
										"sink": {
											"name": "StateAnsi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['util_practice_desc']"
										},
										"sink": {
											"name": "UtilPract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['year']"
										},
										"sink": {
											"name": "Year",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['region_desc']"
										},
										"sink": {
											"name": "Region",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['domain_desc']"
										},
										"sink": {
											"name": "Domain",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state_name']"
										},
										"sink": {
											"name": "State",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['unit_desc']"
										},
										"sink": {
											"name": "Unit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['short_desc']"
										},
										"sink": {
											"name": "ItemConcat",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['data']"
							}
						},
						"inputs": [
							{
								"referenceName": "MilkPerCowAPI",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DataFactoryTable",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy to USDAData_copy1",
						"description": "transfer from DataFactory to USDAData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Import Num Cows",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "\nupdate usda.usdadatafactory set weekending = cast(weekendingstring as date)\n\twhere weekending <> ''\n\tupdate usda.usdadatafactory set value = replace(value,',','')\n\tupdate USDA.USDADataFactory set value = NULL where isnumeric(value) = 0\n\tupdate usda.usdadatafactory set valuedec = cast(value as decimal(18,0))\n\tupdate usda.usdadatafactory set stateansiint = cast(stateansi as int)\n\n\n\ttruncate table USDA.USDAData\n"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GRP",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "GRP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Commodity",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Commodity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UtilPract",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "UtilPract",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Class",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Class",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProdPract",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ProdPract",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Unit",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Domain",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Domain",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DomainCat",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DomainCat",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ItemConcat",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ItemConcat",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StateAnsiInt",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "StateAnsi",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Frequency",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Frequency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Period",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Period",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ValueDec",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "USDADataFactory",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "USDAData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ID Updates_copy1",
						"description": "Set the proper ids in USDADATA table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy to USDAData_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[USDA].[UpdateIds]"
						},
						"linkedServiceName": {
							"referenceName": "SaraDB connection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "WorkMilkProd Transfer",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ID Updates_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table USDA.WorkMilkProd"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GRPID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GRPID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CommodityID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CommodityID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "UtilPract",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UtilPract",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Class",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Class",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProdPract",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProdPract",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CatID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CatID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "UnitID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "UnitID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Domain",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Domain",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DomainCat",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DomainCat",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ItemConcat",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ItemConcat",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StateAnsi",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "StateAnsi",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "GeoID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GeoID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WeekEnding",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "WeekEnding",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PeriodID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PeriodID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "FreqID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PeriodTypeID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "NormValue",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "NormValue",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "USDAData",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WorkMilkProd",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Milk Transformations",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "WorkMilkProd Transfer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[USDA].[MilkProdTransform]"
						},
						"linkedServiceName": {
							"referenceName": "SaraDB connection",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Slaughter Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Dairy Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Slaughter Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Dairy Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "USDA DAIRY PIPELINE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Prod per cow",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Slaughter Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Cows",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Cows')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Daily Pipeline",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-06-23T09:00:00",
						"timeZone": "Romance Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Daily Pipeline')]"
			]
		}
	]
}