ImportUSDA/PartialArmTemplates/ArmTemplate_9_28_2021_15_47_59.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ImportUSDA"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Date Table Update')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Update Date Table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[USDA].[UpdateDateTable]"
						},
						"linkedServiceName": {
							"referenceName": "SaraDB connection",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GTT Trade')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['tradeFlow']"
										},
										"sink": {
											"name": "FlowType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['year']"
										},
										"sink": {
											"name": "Year",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['month']"
										},
										"sink": {
											"name": "Month",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['reporterCode']"
										},
										"sink": {
											"name": "DeclarantCde",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['reporterName']"
										},
										"sink": {
											"name": "Declarant",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['partnerCode']"
										},
										"sink": {
											"name": "PartnerCde",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['partnerName']"
										},
										"sink": {
											"name": "Partner",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['hsCode']"
										},
										"sink": {
											"name": "Code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['commodityDescriptionTranslation']"
										},
										"sink": {
											"name": "Item",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['currency']"
										},
										"sink": {
											"name": "Currency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['value']"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['unit1']"
										},
										"sink": {
											"name": "Unit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['quantity1']"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal"
										}
									}
								],
								"collectionReference": "$['reportData']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "GTTAPI",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "GTTTest",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/GTTAPI')]",
				"[concat(variables('factoryId'), '/datasets/GTTTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trade Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Japan Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "UK Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "partner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Partner",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "volume",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "value_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "declarant",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Declarant",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductCde",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "productname",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "flow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Flow",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Month",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "JapanTrade",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TradeData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "UK Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "AR Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "partner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Partner",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "volume",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "value_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "declarant",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Declarant",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductCde",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "flow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Flow",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Month",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productname"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "UKTrade",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TradeData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "AR Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "AU Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "partner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Partner",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "volume",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "value_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "declarant",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Declarant",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductCde",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "flow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Flow",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Month",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productname"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ARTrade",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TradeData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "AU Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Belarus Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "partner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Partner",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "volume",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "value_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "declarant",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Declarant",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductCde",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "flow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Flow",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Month",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productname"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AUTrade",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TradeData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Belarus Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CN Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "partner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Partner",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "volume",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "value_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "declarant",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Declarant",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductCde",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "flow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Flow",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Month",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productname"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BelarusTrade",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TradeData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "CN Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "EU Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "partner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Partner",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "volume",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "value_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "declarant",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Declarant",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductCde",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "flow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Flow",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Month",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productname"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CNTrade",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TradeData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "EU Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "EU 27 Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "partner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Partner",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "volume",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "value_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "declarant",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Declarant",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductCde",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "flow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Flow",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Month",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productname"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "EUTrade",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TradeData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "EU 27 Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "MX Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "partner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Partner",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "volume",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "value_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "declarant",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Declarant",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductCde",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "flow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Flow",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Month",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productname"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "EU27Trade",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TradeData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "MX Blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "partner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Partner",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "volume",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "value_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "declarant",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Declarant",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductCde",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "flow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Flow",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Month",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productname"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MXTrade",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TradeData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "NZ Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Japan Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "partner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Partner",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "volume",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "value_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "declarant",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Declarant",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductCde",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "flow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Flow",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Month",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productname"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "NZTrade",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TradeData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Russia Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "NZ Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "partner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Partner",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "volume",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "value_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "declarant",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Declarant",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductCde",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "flow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Flow",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Month",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productname"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RussiaTrade",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TradeData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "South Korea Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Russia Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "partner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Partner",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "volume",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "value_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "declarant",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Declarant",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductCde",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "flow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Flow",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Month",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productname"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SouthKoreTrade",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TradeData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "US Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "South Korea Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "partner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Partner",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "volume",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "value_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "declarant",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Declarant",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductCde",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "flow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Flow",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Month",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productname"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "USTrade",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TradeData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Remove Nulls",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "US Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[TRADE].[RemoveNulls]"
						},
						"linkedServiceName": {
							"referenceName": "Sara Database",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Trade Calculations",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[TRADE].[TradeConversions]"
						},
						"linkedServiceName": {
							"referenceName": "Sara Database",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GTTAPI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GTT API",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/GTT API')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GTTTest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Sara Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "TRADE",
					"table": "GTTImport"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GTT API')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "https://www.globaltradetracker.com:443/api/rest/getreport?periodtype=M&layout=brief&accumulatepartnergroups=true&token=A097C3B5A3441CBA5CD2D18609CADCC9&from=2017-01&partner=zz&currency=USD&unit=MT&decimalscale=2&impexp=IE&source=DEFAULT&reporter=ZZ&hscode=0405&hslevel=6",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GTTTest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "https://www.globaltradetracker.com:443/api/rest/getreport?token=A097C3B5A3441CBA5CD2D18609CADCC9&impexp=IE&from=2017-01&reporter=AR&hscode=040210,040221,040410,0405,0406&currency=USD&decimalscale=2&source=DEFAULT&unit=MT&periodtype=M&layout=brief&partner=DCC9&impexp=IE&from=2017-01&reporter=AR&hscode=040210,040221,040410,0405,0406&partner=AR,BO,BR&currency=USD&decimalscale=2&source=DEFAULT&unit=MT&periodtype=M&layout=brief",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DateTableUpdate')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "daily",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Date Table Update",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-09-29T01:00:00",
						"timeZone": "Mountain Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Date Table Update')]"
			]
		}
	]
}